extends layout

block content
    p
        a(href="/newuser") Create a new user!  
        br
        a(href="/signin") Login to your page!    
        br
        a(href="/getquestion") Answer some random questions!   
    h1= title
    h3= prompt
    img(src= "http://sd.keepcalm-o-matic.co.uk/i/shut-up-and-f-k-you-idiot.png")