doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    block head
  body
    ul.navbar
        a(href="/")
            li.nav.left
                |LASA UIL Training
        a(href="/random")
            li.nav.left
                img.random(src='./images/random.png')
        a(href="/newuser")
            li.nav.button.right
                |Register
        a(href="/signin")
            li.nav.button.right
                |Login
    div.content
        block content
    div.footer
        if id
            div(style="font:14px times,serif")=id
    script(src="scripts/keys.js")
