extends layout
block head
    link(rel='stylesheet', href='/stylesheets/listof.css')
block content
    h1= found.username+ " got incorrect: " + found.incorrect.length
    each question in found.incorrect
        a(href = "/random/"+question.id)
            li=question.id