extends layout

block content
    p
        a(href="/signin") Login to your page!    
        br
        a(href="/getquestion") Answer some random questions!   
    h1= title
    h5= prompt
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        input#inputUserGrade(type="text", placeholder="usergrade", name="usergrade")
        input#inputPassword(type="password", placeholder="password", name="password")
        input#checkpassword(type="password",placeholder="reenter password", name="secondpassword")
        button#submit(type="submit") submit