.err {
    color: red;
}
.center {
    text-align: center;
}

form > input{
	border: 2px solid #ccc;
	width: 930px;
	color: #999;
	margin:5px;
	display:inline-block;
	padding:.8em;
	text-indent:.5em;
	height: 2em;
	font-size: 1em;
}
form > .left{
	float:left;
}
form > .right{
	float:right;
}
form > .half{
	width:445px;
}
form > #submit{
	margin:5px;
	border-radius:0;
	border: 0px;
	background-color: rgb(100, 53, 100);
    background: -webkit-linear-gradient(rgb(100, 53, 100), rgb(80, 33, 80));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(100, 53, 100), rgb(100, 53, 100));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(100, 53, 100), rgb(80, 33, 80));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(100, 53, 100), rgb(80, 33, 80));
    /* Standard syntax */
	color:white;
	height:2em;
	width:8em;
	font-size:1em;
}