table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid white;
}
a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#top {
    background-color: #DDDDDD;
}
.name {
    background-color: #EEEEEE;
    display: block;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 100%;
}
.name:hover {
    background-color: #DDDDDD;
}