.title {
    display: block;
    font-size: 40px;
    color: rgb(53, 53, 53);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button {
    margin: 5px;
    border-radius: 0;
    border: 0px;
    background-color: rgb(100, 53, 100);
    color: white;
    height: 2.5em;
    width: 8em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .3em;
}
form > input {
    border: 2px solid #ccc;
    /*width: 930px;*/
    width: 500px;
    color: #999;
    margin: 5px;
    display: inline-block;
    padding: .8em;
    text-indent: .5em;
    height: 2em;
    font-size: 1em;
}
#sample{
    height:60px;
}