#editor {
    height: 300px;
}
.hide {
    display: none;
}
.question{
    padding:20px 50px 20px 50px;

}
.question:hover{
    background-color:rgba(224,224,224,0.8);
}
button {
    margin: 5px;
    border-radius: 0;
    border: 0px;
    background-color: rgb(100, 53, 100);
    color: white;
    height: 2.5em;
    width: 8em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .3em;
}